/* HeroSection.css */


#line1 {
    top: 10vh;
    transition: all 0.2s linear 0s;
    transform: translateX(-100px);
    filter: blur(5px);
    line-height: 100px;
    font-weight: 800;
    opacity: 0;
    color: #f2f2f2;
    position: absolute;
    left: 50px;

}

#line2 {
    top: 20vh;
    transition: all 0.2s linear 0.2s;
    transform: translateX(-100px);
    filter: blur(5px);
    font-weight: 800;
    line-height: 100px;
    opacity: 0;
    color: #f2f2f2;
    position: absolute;
    left: 50px;

}

#bloop {
    display: flex;
    transition: opacity 0.5s linear 0.4s,
    filter 0.75s linear 0.4s,
    scale 0.3s ease-out,
    transform 0.3s ease-out;
    text-shadow: 0 0 20px #3570e8, 0 0 10px #0004fc;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 122px;
    filter: blur(40px) contrast(40);
    opacity: 0;
    transform: translateY(-50px);
    letter-spacing: -5px;
    left: 50px;

}


.header {
    position: absolute;
    top: 50vh;
    height: 200px;
    width: 850px;
    transition: all 0.5s linear 0.5s;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    filter: blur(40px) contrast(40);
    opacity: 0;
    color: #f2f2f2;
    left: 50px;
}


.content-holder.init {

    #bloop {

        filter: none;
        opacity: 1;
        letter-spacing: -5px;

        & span {
            animation: pulse 4s linear 0.4s infinite;
            display: inline-block;
        }

        .elise {
            transition: transform 2s ease-out 0.5s;
            transform-origin: 50% 55%;
            transform: rotate(calc(4 * 360deg));
        }

        .tilda {
            transform-origin: 55% 55%; /* Set the origin to the center */
            animation: pulse 4s linear 0.4s infinite,
            rotate 11s steps(1, start) 4s infinite;
            scale: 1.4;
            transform: translateX(-1px);
        }

    }


    #line1 {
        transform: translateX(0);
        opacity: 1;
        filter: none;
        font-size: 72px;
    }

    #line2 {
        transform: translate(0, -3vh);
        opacity: 1;
        filter: none;
        font-size: 72px;
    }

    .header {
        filter: none;
        opacity: 1;
    }

}


@keyframes pulse {
    0% {
        text-shadow: 0 0 20px #3570e8, 0 0 10px #2433ff;

    }
    50% {
        text-shadow: 0 0 35px #3570e8, 0 0 25px #2433ff;
    }
    60% {
        text-shadow: 0 0 30px #3570e8, 0 0 25px #2433ff;

    }
    0% {
        text-shadow: 0 0 20px #3570e8, 0 0 10px #2433ff;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Start at 90 degrees */
    }
    12.5% {
        transform: rotate(45deg); /* Rotate to 180 degrees */
    }
    25% {
        transform: rotate(90deg); /* Rotate to 240 degrees */
    }
    37.5% {
        transform: rotate(135deg); /* Rotate to 360 degrees */
    }
    50% {
        transform: rotate(180deg); /* Repeat the cycle */
    }
    62.5% {
        transform: rotate(225deg); /* Repeat the cycle */
    }
    75% {
        transform: rotate(270deg); /* Repeat the cycle */
    }
    87.5% {
        transform: rotate(315deg); /* Repeat the cycle */
    }
    100% {
        transform: rotate(360deg); /* Repeat the cycle */
    }

}

