
.console-wrapper {

    font-family: ConsoleFont;
    font-size: 25px;
    position: fixed;
    top: 20vh;
    left: 80vw;
    display: inline-block;
    background-color: #0c0c0c;
    box-shadow: 10px 10px 42px black;
    border-radius: 25px;
    transition: left 0.4s ease-out 0.05s,
    padding-bottom 0.3s ease-out 0.7s;


    .console-title {
        font-size: 30px;
        position: absolute;
        top: 14px;
        left: 100px;
        display: inline-block;
        padding: 0 10px;
        background-color: #0c0c0c;
        color: #f2f2f2;
        font-weight: 600;
        opacity: 0;
        transition: opacity 0.01s ease-in 0.419s;
        border-radius: 5px;
    }

    scale: 1.1;
}

.console {
    height: 0;
    width: 0;
    line-height: 33px;
    margin: 35px;
    border-radius: 15px;
    border: solid 2px #f2f2f2;
    transition: width 0.3s ease-out 0.4s,
    padding-left 0.3s ease-out 0.4s,
    padding-right 0.3s ease-out 0.4s,
    padding-top 0.3s ease-out 0.7s,
    padding-bottom 0.3s ease-out 0.7s,
    height 0.3s ease-out 0.7s;
    background-color: #111010;


    & span {
        opacity: 0;
    }
}


.console .keyword, .type, .operator, .function, .string-const, .num-const, .comment {
    color: #f2f2f2;
}

.console-wrapper.start-typing {
    left: 50vw;
    padding-bottom: 120px;



    .console-title {
        opacity: 1;
    }

    .console {
        height: 350px;
        padding: 40px 25px 20px;
        width: 700px;

        & span {
            opacity: 1;
        }
    }

    .keyword {
        color: #9c009e;
    }

    .type {
        color: #3a96dd;
    }

    .operator {
        color: #f9f1a5;
    }

    .function {
        color: #c19c00;
    }

    .string-const {
        color: #16c60c;
    }

    .num-const {
        color: #61d6d6;
    }

    .comment {
        color: #767676;
    }
}

#cursor {
    opacity: 0;
    font-weight: 0.3;
}

