/* LandingPage.css */


.content-holder {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #111010;
    z-index: -1000;
}





.slider {
    left: 90vw;
    width: 40%;
    height: 100%; /* Change the height to the desired thickness of the divider */
    background-color: #181616FF; /* Change the color as needed */
    position: relative;
    transform: translateX(+100%);
    opacity: 0;
    z-index: -999;
    transition: all 0.5s;

}

.slider::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: inherit; /* Inherit the color from the parent divider */
    transform-origin: 0 100%;
    transform: skewX(+51deg); /* Adjust the angle as needed */
    z-index: -999;

}

.content-holder.init {
    .slider {
        transform: translateX(0);
        filter: ;
        opacity: 1;
        filter: none;
    }
}
