/* CallToAction.css */

.call-to-action {
    position: absolute;
    display: flex;
    left: 0;
    font-family: ConsoleFont;
    width: calc(100% - 70px);
    height: 65px;
    color: #f2f2f2;
    margin: 10px 35px;

    .neon-button {
        left: 60%;
        top: -46px;
        transform: scale(0.42);
        opacity: 0;
        transition: opacity 0s ease 1s;
    }

    .prompt {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        font-size: 25px;
        background-color: #111010;
        border-radius: 15px;
        align-content: center;
        height: 98%;
        width: 0;
        transition: all 0.2s ease-out 0.95s;

        & span {
            opacity: 0;
            transition: all 0.3s ease-out 1.2s;
        }
    }
}

.console-wrapper.start-typing {


    .neon-button {
        animation: rew-up 1.5s linear ;
        animation-delay: 2s;
        opacity: 1;
    }

    .prompt {
        width: 70%;
        border: solid 2px #f2f2f2;
        opacity: 1;

        & span {
            opacity: 1;
        }
    }


}

@keyframes rew-up {

    10% {
        opacity: 0.5;
    }
    10.001% {
        opacity: 0;
    }
    15% {
        opacity: 0.5;
    }
    15.001% {
        opacity: 0;
    }
    96% {
        opacity: 0.78;
    }
    96.001% {
        opacity: 0;
    }
    98% {
        opacity: 0.88;
    }
    98.0001% {
        opacity: 0;
    }
    99% {
        opacity: 0.8;
    }
    99.001% {
        opacity: 0;
    }

}