/* font-family: 'Pixelify Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Press+Start+2P&display=swap');

/*  font-family: 'Kanit', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@font-face {
    font-family: 'ConsoleFont';
    src: url('../assets/fonts/CascadiaMono-Regular.woff2') format('woff2'), /* Modern browsers */
    url('../assets/fonts/CascadiaMono-Regular.woff') format('woff'); /* Older browsers */
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 20;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {

    margin: auto;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;

}



