
.console {
    height: 0;
    width: 0;
    line-height: 33px;
    margin: 35px;
    border-radius: 15px;
    border: solid 2px #f2f2f2;
    transition: width 0.3s ease-out 0.4s,
    padding-left 0.3s ease-out 0.4s,
    padding-right 0.3s ease-out 0.4s,
    padding-top 0.3s ease-out 0.7s,
    padding-bottom 0.3s ease-out 0.7s,
    height 0.3s ease-out 0.7s;
    background-color: #111010;


    & span {
        opacity: 0;
    }
}


.console .keyword, .type, .operator, .function, .string-const, .num-const, .comment {
    color: #f2f2f2;
}

.console-wrapper.init {

    .console {
        height: 350px;
        padding: 40px 25px 20px;
        width: 700px;


        &.start-typing {


            & span {
                opacity: 1;
            }


            .keyword {
                color: #9c009e;
            }

            .type {
                color: #3a96dd;
            }

            .operator {
                color: #f9f1a5;
            }

            .function {
                color: #c19c00;
            }

            .string-const {
                color: #16c60c;
            }

            .num-const {
                color: #61d6d6;
            }

            .comment {
                color: #767676;
            }

            #cursor {
                opacity: 0;
                font-weight: 0.3;
            }
        }
    }
}


































































